* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
    background-attachment: fixed;
    max-width: 100vw;
    line-height: 1.5;
}

a {
    color: hsl(26, 100%, 50%);
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: white;
}

p {
    font-size: 12px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (max-width: 850px) {

    .dmain {
        display: none;
    }

    .dshadow {
        display: none;
    }

    .dbox {
        display: none;
    }
    .mmain {
        position: absolute;
        top: -90px;
        width: 200px;
        z-index: 2;
    }

    .mshadow {
        width: 200px;
        position: relative;
    }


    .maincontainer {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 25px;
        width: 260px;
        min-height: 400px;
        height: auto;
        margin: 130px auto 40px auto;
        padding: 0 15px;
        padding-bottom: 40px;
        -webkit-box-shadow: 1px 19px 25px -6px rgba(41,14,138,0.58); 
        box-shadow: 1px 19px 25px -6px rgba(41,14,138,0.58);
    }

    .active {
        font-weight: 700;
        
    }

    .arrow {
        margin-left: 20px;
        height: 6px;
        width: auto;
    }

    .arrowactive {
        transform: rotate(180deg);
    }

    .closedfaq {
        display: none;
        max-width: 225px;
    }

    .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .answer p {
        padding-top: 5px;
        font-size: 11px;
    }

    .question:hover {
        color: hsl(14, 88%, 65%);
        cursor: pointer;
    }

    .faq {
        border-bottom: 1px solid hsl(240, 5%, 91%);
        padding: 12px 0;
        width: 100%;
    }

    footer {
        text-align: center;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: rgba(27, 26, 29, 0.844);
        z-index: 3;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}

@media (min-width: 851px) { 
    .mmain {
        display: none;
    }   

    .mshadow {
        display: none;
    }

    .dbox {
        display: inline-block;
        position: absolute;
        top: 147px;
        left: -75px;
        z-index: 4;
        width: 150px;
    }

    .dmain {
        display: inline-block;
        position: absolute;
        top: 50px;
        left: -60px;
        width: 350px;
        z-index: 2;
    }
    
    .dshadow {
        display: inline-block;
        width: 750px;
        position: absolute;
        left: -450px;
        top: -250px;
    }
    
    h1 {
        text-align: left;
        font-size: 1.7rem;
    }
    
    .maincontainer {
        display: flex;
        position: relative;
        justify-content: flex-end;
        background-color: white;
        border-radius: 25px;
        width: 725px;
        margin: 130px auto 40px auto;
        padding: 0 15px 0 0;
        -webkit-box-shadow: 1px 19px 25px -6px rgba(41,14,138,0.58); 
        box-shadow: 1px 19px 25px -6px rgba(41,14,138,0.58);
    }

    .imagebox {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-bottom: -40px;
    }
    
    .active {
        font-weight: 700;
    }
    
    .arrow {
        margin-left: 20px;
        height: 6px;
        width: auto;
    }

    
    .arrowactive {
        transform: rotate(180deg);
    }

    
    .closedfaq {
        display: none;
        max-width: 225px;
    }

    .faqbox {
        padding: 30px 60px 40px 60px;
    }
    .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .answer p {
        padding-top: 5px;
        font-size: 11px;
    }
    
    .question:hover {
        color: hsl(14, 88%, 65%);
        cursor: pointer;
    }
    
    .faq {
        border-bottom: 1px solid hsl(240, 5%, 91%);
        padding: 12px 0;
        width: 300px;
    }
    
    footer {
        text-align: center;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: rgba(27, 26, 29, 0.844);
        z-index: 3;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    
    

}